body {
  background-color: white;
  height: 100vh; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1{
  font-family: "Castoro", Serif;
  color: black;
}

p, body,  h2, a{
  font-family: "Public Sans", Sans-serif;
  color: black;
}
/* Mobile Mode - Menu Side Panel */
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e9d5b7;
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
  z-index: 3;
}

.sidepanel a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 3%;
  color: #423736;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: white;
}

.sidepanel .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  visibility: hidden;
  color: white;
  z-index: 4;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: black;
  border: none;
  background: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 5;
  display: block;
}

.openbtn:hover {
  color: gray;
}

/* Desktop Mode - Nav Bar */
.navbar {
  display: flex;
 justify-content: flex-start;
  position: fixed;
  margin-top: 1%;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0;
  z-index: 6;
}

.navbar a {
  margin-left: 1.5%;
  color: #423736;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: #987185;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #423736;
}
/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('Assets/sample16.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.content {
  background-blend-mode: lighten;
  flex: 1;
  max-width: 60vw;
  max-height: 100vh;
  padding: 50px;
  z-index: 2;
}

.content p{
font-size: 60px;
text-transform: uppercase;
font-weight: bold;
align-self: first baseline;
color: #987185; 
margin-bottom: 10px;
}

.content h1 {
  color: #423736;
  font-size: 80px; 
  line-height: 1.2; 
  margin: 0;
}

.content h2 {
  color: #987185; 
  font-size: 48px;
    line-height: 1.5; 
    margin-top: 0%;
    margin-bottom: 2%;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background-color: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/*About Me*/
.hero1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  height: 100vh;
  width: 100%;
  background-image: url('Assets/aboutmebg.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.content1 {
  background-blend-mode: lighten;
  flex: 1;
  max-width: 80vw;
  max-height: 100vh;
  padding: 50px;
  z-index: 2;
  position: relative; 
  overflow: hidden;
}

.content1 h1 {
  color: #423736;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 5%;
  margin-bottom: 20px;
  position: relative;
}

.content1 p {
  margin-bottom: 0.5in; 
  color: #987185;
  text-align: justify;
  padding: 10px 20px;
  width: 60%;
  font-size: 16px;
  line-height: 1.6;
  position: relative; 
}

/*skills*/
div.scroll-container {
  background-color: #e1c69d; /*d6aa9f*/
  height: 100vh;
  display: flex;
  align-items: center; 
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap; 
  padding: 8px;
}

div.scroll-container img {
  padding: 5%; 
  height: 50vh; 
  width: 200%;
  display: inline-block; 
  border-radius: 2px 
}

/*experience*/
.hero2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('Assets/experience.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.content2 {
  background-blend-mode: lighten;
  flex: 1;
  max-width: 60vw;
  max-height: 100vh;
  padding: 50px;
}

.content2 p{
font-size: 40px;
text-transform:inherit;
font-weight: bold;
align-self: first baseline;
color: #987185; 
margin-bottom: 10px;
margin-left: 20%;
}

.content2 h1 {
  color: #423736;
  font-size: 50px; 
  line-height: 1.2; 
  margin: 0;
}

 /*projects*/
 #projects {
  width: 100%; 
  max-width: 1200px; 
  height: auto;
  margin: 0 auto; 
  /*margin-bottom: ;*/
  background-color: #f9f9f9; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  position: relative;
  overflow: hidden; 
}

div.gallery {
  border: 1px solid #ccc;
  height: auto;
  max-height: 450px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.desc:hover{
  border: 1px solid #777;
  border-color: #423736;
  border-radius: 5px;
}

* {
  box-sizing: inherit;
}

.responsive {
  float: left;
  padding: 0 6px;
  width: 25%;
  margin-top: 5%;
}

#Contacts {
  display: flex;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('Assets/contactbg.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #423736;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  background-color: #d6aa9f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.contact-info h1 {
  font-size: 80px;
  margin-bottom: 20px;
  color:#423736;
}

.contact-info button {
  background-color: #d6aa9f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contact-info .social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.contact-info a {
  text-decoration: none;
  font-size: 18px;
  color: #423736;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #d6aa9f;
  color: #423736;
}

